:root {
  /* Colors */
  /* Primary */
  --orange: hsl(25, 97%, 53%);
  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);

  /* Typography */
  --font-size-body: 15px;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

/* Font */
@font-face {
  font-family: Overpass;
  src: url(./fonts/Overpass-VariableFont_wght.ttf);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Overpass;
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-normal);
  color: var(--white);
  background-color: black;
}

h1 {
  font-size: 24px;
}

p {
  color: var(--light-grey);
  font-size: 14px;
  line-height: 1.5em;
  margin-bottom: 28px;
}

.rating-container {
  width: 280px;
  height: 310px;
  padding: 25px;
  border-radius: 15px;
  background-color: var(--very-dark-blue);
}

.rating-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--dark-blue);
}

.rating-badge img {
  width: 35%;
  height: auto;
}

#rating-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#rating-form > * {
  margin-bottom: 28px;
}

.custom-radios {
  display: flex;
  justify-content: center;
}

.custom-radios div {
  display: inline-block;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0 8px;
  border-radius: 50%;
  background-color: var(--dark-blue);
  color: var(--medium-grey);
  cursor: pointer;
}

input[type="radio"]:checked + label span {
  background-color: var(--orange);
  color: var(--white);
  transition: all .1s ease;
}

input[type="radio"]:hover:checked + label span {
  background-color: var(--orange);
  color: var(--white);
}

input[type="radio"]:hover + label span {
  background-color: var(--light-grey);
  color: var(--white);
}

#rating-submit {
   width: 280px;
   height: 45px;
   border: none;
   border-radius: 99em;
   letter-spacing: .14em;
   color: var(--white);
   background-color: var(--orange);
   cursor: pointer;
}

#rating-submit:hover {
  background-color: var(--white);
  color: var(--orange);
}

/* Mobile */
@media (min-width: 375px) {

}

/* Desktop */
@media only screen and (min-width: 1440px) {

}